<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
    <servlet>
        <servlet-name>AlienCityServlet</servlet-name>
        <servlet-class>com.aliencity.AlienCityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlienCityServlet</servlet-name>
        <url-pattern>/AlienCityServlet</url-pattern>
    </servlet-mapping>
</web-app>
